---
out_prefix: example
model_type: VAEGAN
random_seed: 0
continue: True

data:
  data_root: /net/pulsar/home/koes/mtr22/gan/data/molport
  batch_size: 10
  rec_map_file: /net/pulsar/home/koes/mtr22/gan/data/my_rec_map
  lig_map_file: /net/pulsar/home/koes/mtr22/gan/data/my_lig_map
  resolution: 0.5
  grid_size: 48
  shuffle: True
  random_rotation: True
  random_translation: 2.0
  rec_molcache: '' #/net/pulsar/home/koes/mtr22/gan/data/molportFULL_rec.molcache2
  lig_molcache: '' #/net/pulsar/home/koes/mtr22/gan/data/molportFULL_lig.molcache2
  train_file: /net/pulsar/home/koes/mtr22/gan/data/molportFULL_rand_test0_1000.types
  test_file: /net/pulsar/home/koes/mtr22/gan/data/molportFULL_rand_test0_1000.types

gen_model:
  n_filters: 32
  width_factor: 2
  n_levels: 4
  conv_per_level: 3
  kernel_size: 3
  relu_leak: 0.1
  batch_norm: 0
  spectral_norm: 0
  pool_type: a
  unpool_type: 'n'
  pool_factor: 2
  n_latent: 1024
  init_conv_pool: False
  skip_connect: False

disc_model:
  n_filters: 32
  width_factor: 2
  n_levels: 4
  conv_per_level: 3
  kernel_size: 3
  relu_leak: 0.1
  batch_norm: 0
  spectral_norm: 0
  pool_type: a
  pool_factor: 2
  n_output: 1
  init_conv_pool: False

loss_fn:

  types:
    recon: e
    gan: x

  weights:
    kldiv: 0.1
    recon: 1.0
    gan: 10.0

gen_optim:
  type: Adam
  lr: 0.00001
  betas: [0.9, 0.999]
  clip_gradient: 1.0
  n_train_iters: 2

disc_optim:
  type: Adam
  lr: 0.00001
  betas: [0.9, 0.999]
  clip_gradient: 1.0
  n_train_iters: 2

atom_fitting:
  beam_size: 1
  multi_atom: False
  n_atoms_detect: 1
  apply_conv: False
  threshold: 0.1
  peak_value: 1.5
  min_dist: 0.0
  interm_gd_iters: 10
  final_gd_iters: 100

train:
  max_iter: 100000
  n_test_batches: 10
  test_interval: 100
  fit_interval: 1000
  save_interval: 100
