--- # new_atom_typing/generate/gen0_CVAE-1.6_1zyu_A_rec_0_1.0_1.0/generate.config
out_prefix: DEMO
model_type: CVAE
random_seed: 0
verbose: True

data:
  data_root: data/crossdock2020/
  batch_size: 5
  rec_typer: oadc-1.0
  lig_typer: oadc-1.0
  use_rec_elems: True
  resolution: 0.5
  grid_size: 48
  shuffle: False
  random_rotation: True
  random_translation: 2.0
  diff_cond_transform: False
  diff_cond_structs: False
  data_file: data/crossdock2020/selected_test_targets.types

gen_model:
  n_filters: 28
  width_factor: 2
  n_levels: 4
  conv_per_level: 4
  kernel_size: 3
  relu_leak: 0.1
  batch_norm: 0
  spectral_norm: 1
  pool_type: a
  unpool_type: 'n'
  pool_factor: 2
  n_latent: 128
  init_conv_pool: 0
  skip_connect: True
  block_type: r
  growth_rate: 0
  bottleneck_factor: 0
  state: weights/train6_CVAE2_0_p0_4.0_4.0_k200_d_1.6_r0_n_4.0_65_iter_1000000.gen_model_state

atom_fitting:
  beam_size: 1
  multi_atom: False
  n_atoms_detect: 1
  apply_conv: False
  threshold: 0.1
  peak_value: 1.5
  min_dist: 0.0
  apply_prop_conv: False
  interm_gd_iters: 10
  final_gd_iters: 100

generate:
  n_examples: 90
  n_samples: 1
  prior: 0
  stage2: False
  truncate: False
  var_factor: 1.0
  post_factor: 1.0
  interpolate: False
  spherical: False
  fit_atoms: True
  add_bonds: True
  uff_minimize: True
  gnina_minimize: True
  minimize_real: True

output:
  batch_metrics: False
  output_grids: False
  output_structs: False
  output_mols: True
  output_latents: True
  output_visited: False
  output_conv: False
