--- # new_atom_typing/training/train6_CVAE2_0_p0_4.0_4.0_k200_d_1.6_r0_n_4.0_65/train.config
out_prefix: DEMO
model_type: CVAE
random_seed: 65
caffe_init: False
continue: True
max_n_iters: 1000000
balance: False

data:
  data_root: data/crossdock2020/
  batch_size: 8
  rec_typer: oadc-1.0
  lig_typer: oadc-1.0
  use_rec_elems: True
  resolution: 0.5
  grid_size: 48
  shuffle: True
  random_rotation: True
  random_translation: 2.0
  train_file: data/crossdock2020/it2_tt_0_lowrmsd_valid_mols_train0_fixed.types
  test_file: data/crossdock2020/it2_tt_0_lowrmsd_valid_mols_test0_fixed.types

gen_model:
  n_filters: 28
  width_factor: 2
  n_levels: 4
  conv_per_level: 4
  kernel_size: 3
  relu_leak: 0.1
  batch_norm: 0
  spectral_norm: 1
  pool_type: a
  unpool_type: 'n'
  pool_factor: 2
  n_latent: 128
  init_conv_pool: 0
  skip_connect: True
  block_type: r
  growth_rate: 0
  bottleneck_factor: 0

disc_model:
  n_filters: 0
  width_factor: 2
  n_levels: 0
  conv_per_level: 0
  kernel_size: 3
  relu_leak: 0.1
  batch_norm: 0
  spectral_norm: 1
  pool_type: a
  pool_factor: 2
  n_output: 1
  init_conv_pool: 0
  block_type: r
  growth_rate: 0
  bottleneck_factor: 0

loss_fn:

  types:
    recon_loss: '2'
    gan_loss: 'w'

  weights:
    kldiv_loss: 0.1
    recon_loss: 4.0
    steric_loss: 1.0
    gan_loss: 0.0
    kldiv2_loss: 0.0
    recon2_loss: 0.0

  schedules:

    kldiv_loss:
      start_iter: 450000
      end_wt: 1.6
      period: 200000
      type: d

    recon_loss:
      start_iter: 450000
      end_wt: 4.0
      period: 0000
      type: n

  learn_recon_var: 0

gen_optim:
  type: RMSprop
  lr: 1.0e-05
  clip_gradient: 5000
  n_train_iters: 1

disc_optim:
  type: RMSprop
  lr: 0.0e+00
  clip_gradient: 0
  n_train_iters: 0

atom_fitting:
  beam_size: 1
  multi_atom: False
  n_atoms_detect: 1
  apply_conv: False
  threshold: 0.1
  peak_value: 1.5
  min_dist: 0.0
  apply_prop_conv: False
  interm_gd_iters: 10
  final_gd_iters: 100

train:
  max_iter: 1000000
  n_test_batches: 10
  test_interval: 100
  fit_interval: 1000
  norm_interval: 10
  save_interval: 100000
